p{
	color: white;
	text-align: center;
	font: 18px;
	}

div{
	border-radius: 5px bold;
	background-color:#FFA347;
	border: 2px solid #FF6600;
	text-align: center;
	margin:auto;
	height:50px;
	width: 120px;
	}
