<html>
	<head>
		<title>{{name}}'s Page</title>
    	<link rel="stylesheet" type="text/css" href="css/main.css">
    	<html>
	<style>
	#menu ul {
		margin: 0px;
		padding: 0px;
		list-style-type: none;
		}

	#menu a{	
		display: block;
		width: 8em;
		color: white;
		background-color: #60A0A0;
		text-decoration: none;
		text-align: center;
		}
	#menu a:hover {
		background-color: #6666AA;
		}
	#menu li{
		float:left;
		margin-right: .05em;
		}
	.Ballin{
		color: blue;
		font-size: 400%;
 		font-family: 'Varela Round', sans-serif;
 		text-align: center;
		}


   	</style>
    	</head>
    	
	<body>
	<h1 class= "Ballin">Prattle</h1>
	<div id = "menu">
	<ul>
	<li> <a href = "prattledev.appspot.html" > Home </a> </li>
	<li> <a href = "index.html" > Create A Forum </a> </li>
	<li> <a href = "index.html" > Popular Forums </a> </li>
	</div>
		
		<div>
		 <div style = 'float:right; width: 45%'>{% for message in messages %}
		 {{message.person}}: {{message.content}}
		 <hr />
		 {% endfor %}
		 
		 <form action='/' method ='post' enctype = 'multipart/form-data'>
			 Name: <input type= 'text' name='message'>
			 Message:<input type='text' name='moniker'>
			 <input type='submit' name='submit' value='Submit'>
		</form>
		</div>
		<div style = 'float:left; width: 45%'>{% for message in messages %}
		 {{message.person}}: {{message.content}}
		 <hr />
		 {% endfor %}
		 
		 <form action='/' method ='post' enctype = 'multipart/form-data'>
			 Name: <input type= 'text' name='message'>
			 Message:<input type='text' name='moniker'>
			 <input type='submit' name='submit' value='Submit'>
		</form>
		</div>
		</div>
		
	   </body>
    </html>
