<html>
	<head>
		<title>{{name}}'s Page</title>
    	<link rel="stylesheet" type="text/css" href="css/main.css">	
    </head>
	<body>
		<h1>{{name}}</h1>
		
		 <div "text-align: left">{% for message in messages %}
		 {{message.person}}: {{message.content}}
		 <hr />
		 {% endfor %}
		 
		 <form action='/' method ='post' enctype = 'multipart/form-data'>
			 Message: <input type= "text"" name="message">
			 Name:<input type="text" name="moniker">
			 <input type="submit" name="submit" value="Submit">
		</form>
		</div>
		<div "text-align:right">{% for message in messages %}
		 {{message.person}}: {{message.content}}
		 <hr />
		 {% endfor %}
		 
		 <form action='/' method ='post' enctype = 'multipart/form-data'>
			 Message: <input type= "text"" name="message">
			 Name:<input type="text" name="moniker">
			 <input type="submit" name="submit" value="Submit">
		</form>
		</div>
		
	   </body>
    </html>
